//commenting out just to see about view transition

@use "mixins" as *;
.fade-me {
  opacity: 0;
  @include translate(0, 30px);
  @include animate(all, 0.7s, 0);
  transition-timing-function: ease-out;
  &.fade-delay {
    @include animate(all, 0.7s, 0.4);
  }

  &.faded-in {
    opacity: 1;
    @include translate(0, 0);
  }
}

/* Page Transition */
.wp-theme-damsbaek-carpentry-custom {
  animation: fade-in 0.7s forwards;
}

.fade-in {
  opacity: 1;
}

.wp-theme-damsbaek-carpentry-custom.fade-out {
  animation: fade-out 0.7s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-image {
  clip-path: inset(0% 0% 0% 0%);
}

//Project page transition

.project-link {
  overflow: hidden;
  aspect-ratio: 2/3;
  img {
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.05);
      transition: transform 0.25s ease-in-out;
    }
  }
}

/* The asterisk (*) is a wildcard - matches any name with class "card" */
::view-transition-group(*.project-transition-class) {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Fix the taffy problem for ALL cards at once */
::view-transition-old(*.project-transition-class),
::view-transition-new(*.project-transition-class) {
  object-fit: cover;
  overflow: hidden;
}

::view-transition-old(root) {
  animation: 500ms ease-out both fade-out;
}

/* Target the incoming root view */
::view-transition-new(root) {
  /* Delay the fade-in until the fade-out completes */
  animation: 500ms ease-in 200ms both fade-in;
}

/* this is to make it fade in and out nicely, not the crappy crossfade */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opt-in for cross-document transitions */
@view-transition {
  navigation: auto;
}

::view-transition-group(*.project-transition) {
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::view-transition-old(*.project-transition),
::view-transition-new(*.project-transition) {
  object-fit: cover;
  overflow: hidden;
}

/* Accessible design: Respect user motion preferences */
@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }
}
