.client-intake-form {
  input {
    height: 50px;
    border: 1px solid black;
    background: rgba(119, 143, 178, 0.5);
  }
  label {
    font-size: 28px;
    font-weight: 400;
  }
  .nf-field-label > span {
    font-size: 28px;
    font-weight: 400;
  }
  .nf-field-element li label {
    font-weight: 300;
  }
  textarea {
    background: rgba(119, 143, 178, 0.5);
  }
  input[type="radio"] {
    height: 100%;
  }
  nf-fields-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#nf-form-2-cont {
  width: 80%;
  max-width: 80%;
}

.nf-form-fields-required {
  display: none;
}

nf-field {
  width: 100%;
  @media screen and (min-width: 400px) {
    width: 48%;
  }
}
.nf-form-content {
}

.footer-sign-up {
  input {
    height: 50px;
    border: 1px solid black;
    background: rgba(119, 143, 178, 0.5);
  }
}

input[type="submit"] {
  height: 100%;
  background-color: #778fb2;
  background: rgba(119, 143, 178, 0.5);
  padding: 10px 20px;
  font-size: 24px;
  color: #d9d9d9;
  color: black;
  font-weight: 300;
}
