<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:columns {"isStackedOnMobile":false,"metadata":{"categories":["header"],"patternName":"core/block/272","name":"Golden Stripe Hero"},"align":"full","style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns alignfull is-not-stacked-on-mobile"><!-- wp:column {"width":"10%","backgroundColor":"custom-golden"} -->
<div class="wp-block-column has-custom-golden-background-color has-background" style="flex-basis:10%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"90%"} -->
<div class="wp-block-column" style="flex-basis:90%"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"custom-black","isUserOverlayColor":true,"contentPosition":"bottom left","isDark":false,"sizeSlug":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left"><span aria-hidden="true" class="wp-block-cover__background has-custom-black-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"placeholder":"Write title…","style":{"typography":{"textAlign":"center"}},"fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->